* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 54px);
    background: #0a0909;
    color: #F8F8F8;
}

main {
    max-width: 980px;
    margin: 54px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h1 {
    font-size: 42px;
}

main p {
    font-size: 24px;
    margin-top: 16px;
    color: #747474;
}

main strong {
    color: #fd092e;
}

input:focus {
    border: 1px solid #E83752;
}

#functionChoice {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 5px 0px;
}

#functionChoice label {
    font-size: 16px;
    color: #747474;
    margin: 0px 10px 0px 10px;
}

#functionChoice > input[type="radio"] {
    transform: scale(0.01);
}

#mensagem-de-erro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mensagem-de-erro > p {
    margin-top: 5px;
    font-size: 10px;
    color: #ff0026;
}

.key-func {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 16px;
}

.key-func p {
    margin: 0;
    font-size: 16px;
}

.func {
    display: flex;
    align-items: center;
}

.key-func input {
    width: 30px;
    height: 28px;
    margin-top: 0px;
    padding: 5px;
    margin-left: 3px;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: #1C1B1B;
    color: #EEE;
    outline: none;
}

main button {
    background: linear-gradient(243.46deg, #fd092e 16.66%, #a8031c 83.34%);
    color: #FFF;
    height: 52px;
    width: calc(300px - 10px);
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    transition: filter 0.2s ease-in;
}

main button:hover {
    filter: brightness(0.9);
}

.buttons {
    margin-top: 26px;
    max-width: 600px;
}

main button+button {
    margin-left: 10px;
}

.result {
    width: 868px;
    padding: 10px;
    margin-top: 32px;
}

.result p {
    font-size: 22px;
    display: flex;
    align-items: center;
}

#resultText {
    margin-left: 8px;
    max-width: 480px;
}

.alertSpan {
    position: absolute;
    top: 10%;
    right: 1%;
    width: 300px;
    height: 60px;
    padding: 20px 25px;
    background-color: #940016;
    z-index: 2;
    border-radius: 8px;
    font-weight: bold;
    color: #FFF;
    font-size: 18px;
    display: none;
}

.alertSpanActive {
    display: inline;
}

#text-a {
    margin-left: 5px;
}

#text-b, #text-c {
    margin-left: 10px;
}

#fraseEncrypt {
    margin-top: 21px;
    height: 52px;
    width: 600px;
    border-radius: 8px;
    padding: 10px 15px;
    border: none;
    background-color: #1C1B1B;
    font-size: 16px;
    color: #EEE;
    outline: none;
}

code {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px #fd092e;
    background-color: rgb(253, 9, 46, 0.1);
    opacity: 0.8;
}

code span {
    color: #fd092e;
    font-size: 12px;
    line-height: 20px;
}

.code-1 {
    position: absolute;
    top: 25%;
    left: 15%;
}

.code-2 {
    position: absolute;
    top: 28%;
    left: 12%;
}

.code-3 {
    position: absolute;
    top: 28%;
    left: 18%;
}

.code-4 {
    position: absolute;
    top: 28%;
    right: 18%;
}

.code-5 {
    position: absolute;
    top: 25%;
    right: 15%;
}

.code-6 {
    position: absolute;
    top: 28%;
    right: 12%;
}